body{
  background-image: url(http://lorempixel.com.br/400/200/nature/);
  background-repeat:no-repeat;
  background-size: cover;
}

.navbar-brand {
	padding-top: 12px;
}

.card {
	margin-left: 10px;
	margin-right: 10px;
}

.alert {
	margin-left: 10px;
	margin-right: 10px;
}

.aw-link-card {
	float: right;
	padding: 10px;
}

.aw-titulo-card {
	float: left;
	padding-top: 10px;
}